<h1>Tema de la clase: Pipes - <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let producto of productos let i=index">
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.img}}</td>
                    <td>{{producto.precio}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
